header {
  text-align: center;
}

.intro {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 50px;
  padding: 0 20px 0;
}

.adopt-button{
  display: block;
  margin: 0 auto 0;
}